@page
@model AnimeMarathon.Web.Pages.EditUserModel
@{
    ViewData["Title"] = "Editar Perfil";
}
<h1>Editar Perfil</h1>
<div class="container">
<form id="editUserForm" method="post">
    
    <div>
        <label for="Name">Nombre:</label>
        <input type="text" id="Name" name="Name" value="@Model.User.Name" required />
    </div>
    <div>
        <label for="LastName">Apellidos:</label>
        <input type="text" id="LastName" name="LastName" value="@Model.User.LastName" />
    </div>
    <div>
        <label for="Email">Email:</label>
        <input type="email" id="Email" name="Email" value="@Model.User.Email" required />
    </div>
    <div>
        <label for="Password">Contraseña:</label>
        <input type="password" id="Password" name="Password" value="@Model.User.Password" required />
    </div>
    <button type="submit">Guardar Cambios</button>
</form>
</div>
<script src="~/js/edit.js"></script>