@page "{username?}"
@model AnimeMarathon.Web.Pages.UserMenuModel
@{
    ViewData["Title"] = "User Profile";
}

<h1>User Profile</h1>

<div>
    <h2>Welcome, @Model.Username</h2>
</div>

<div>
    <h3>Mi lista de Animes:</h3>
    <ul>
        @foreach (var animeUser in Model.UserAnimes)
        {
            <li>@animeUser.Title</li>
        }
    </ul>
</div>
<div>
    <h3>Animes:</h3>
    <ul>
        @foreach (var anime in Model.Animes)
        {
            <li><a href="/AnimeDetail?id=@anime.Id">@anime.Title</a></li>
        }
    </ul>
</div>

