
@using Microsoft.AspNetCore.Http
@{
    var userName = Context.Session.GetString("_Name");
    var userId = Context.Session.GetString("_Id");
}

<div class="dropdown" style="float: right; margin-right: 20px;">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="userMenuDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @userName
    </button>
    <div class="dropdown-menu" aria-labelledby="userMenuDropdown">
        <a class="dropdown-item" asp-page="/EditUser">Editar Perfil</a>
        <a class="dropdown-item" asp-page="/Login">Cerrar Sesión</a>
    </div>
</div>
