html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

    .dropdown-item:hover, .dropdown-item:focus {
        color: #16181b;
        text-decoration: none;
        background-color: #f8f9fa;
    }
/* Define un estilo para los elementos de anime */
.anime-item {
    width: 24%; /* Cada elemento ocupa el 25% del ancho del contenedor */
    float: left; /* Alinea los elementos en una fila */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
    padding: 8px; /* Añade espaciado entre los elementos */
}

/* Utiliza media queries para ajustar el diseño en diferentes tamaños de pantalla */
@media (max-width: 768px) {
    .anime-item {
        width: 50%; /* Cambia a dos columnas en dispositivos con un ancho máximo de 768px */
    }
}

@media (max-width: 576px) {
    .anime-item {
        width: 100%; /* Cambia a una columna en dispositivos con un ancho máximo de 576px */
    }
}

.anime-item-group {
    width: 50%; 
    float: left;
    box-sizing: border-box;
    padding: 8px; 
}
